@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans');

body{
    

            /* Membuat gradasi linear vertikal */
            background: linear-gradient(to bottom, #ff00ee, #0800ff);
            /* Atur warna teks agar terlihat dengan baik di atas gradasi */
            color: #ffffff;
            /* Mengatur ukuran margin dan padding */
            margin: 0;
            padding: 0;
            /* Mengatur tinggi elemen body agar sesuai dengan tinggi tampilan browser */
            height: 100vh;
    /* background-color: #a866ff; */

}
.container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item{
    background-color: rgb(146, 255, 164);
    margin: 2vh;
    padding: 10px;
    width :20vw;
    height: 5vh;
    border: 1px solid black;
}
nav{

    /* position: fixed;
    left: 0;
    right: 0;
    z-index: 3; */
    width: 80%;
    margin: 0 auto;
    /* margin-top: 30px; */
    padding: 25px 50px;
    border-radius: 30px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: burlywood; */

}

nav h2{

    font-size: 20px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    color: #FFBA15  ;

}

.arkan{

    font-size: 42px;
    font-weight: 800;
    letter-spacing: 5px;
    margin-right: -5px;
    margin-left: 5px;

}

nav li{

    display: inline-block;
    margin-left: 25px;

}

nav li a{

    text-decoration: none;
    color: #FFBA15;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 500;
    transition: all 0.15s ease-in-out;

}

nav li a:hover{

    font-size: 19px;
    color: whitesmoke;
    transition: all 0.15s ease-in-out;

}

.content{

    width: 55%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 25px;
    margin-top: 90px;
    background-color: beige;

    display: flex;
    flex-direction: column;
    align-items: center;

}

img{

    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 0 -8px;
    border-radius: 50%;

}

.content h3{

    margin-top: 15px;
    margin-bottom: 0px;
    font-family: 'Montserrat';

}

.content h1{

    margin-top: 35px;
    margin-bottom: 35px;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;

}

.content p{

    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Montserrat';
    font-weight: 600;

}

